<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
<!-- 网站运行计时统计 start-->
  <span id="momk"></span><span id="momk" style="color: #ff0000;"></span>
  <script type="text/javascript">
      function NewDate(str) {
          str = str.split('-');
          var date = new Date();
          date.setUTCFullYear(str[0], str[1] - 1, str[2]);
          date.setUTCHours(0, 0, 0, 0);
          return date;
      }
      function momxc() {
          var birthDay = NewDate("2024-01-22");//设置建站时间
          var today = new Date();
          var timeold = today.getTime() - birthDay.getTime();
          var sectimeold = timeold / 1000
          var secondsold = Math.floor(sectimeold);
          var msPerDay = 24 * 60 * 60 * 1000; var e_daysold = timeold / msPerDay;
          var daysold = Math.floor(e_daysold);
          var e_hrsold = (daysold - e_daysold) * -24;
          var hrsold = Math.floor(e_hrsold);
          var e_minsold = (hrsold - e_hrsold) * -60;
          var minsold = Math.floor((hrsold - e_hrsold) * -60); var seconds = Math.floor((minsold - e_minsold) * -60).toString();
          document.getElementById("momk").innerHTML = "本站在两次删库三次跑路的情况下坚持了" + daysold + "天" + hrsold + "小时" + minsold + "分" + seconds + "秒";
          setTimeout(momxc, 1000);
      } momxc();
  </script>
  <style>
      #momk {
          animation: change 10s infinite;
          font-weight: 800;
      }
  
      @keyframes change {
          0% {
              color: #5cb85c;
          }
  
          25% {
              color: #556bd8;
          }
  
          50% {
              color: #e40707;
          }
  
          75% {
              color: #66e616;
          }
  
          100% {
              color: #67bd31;
          }
      }
  </style>
  <!-- 网站运行计时统计 over-->
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">本页基于 <a href="https://pages.github.com">GitHub Pages</a>及 <a href="https://github.com/pages-themes/cayman">Cayman主题</a>。</span><br />
        <a href="https://icp.gov.moe/?keyword=20240515" target="_blank">萌ICP备20240515号</a><br />
      </footer>
    </main>
  </body>
</html>
